body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    padding: 20px;
}

.text-content {
    background-color: khaki;
    padding: 20px;
}

.image-container {
    background-color: khaki;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 1025px) {
    main {
        transition: all 0.3s ease-in-out; /
    }
}